/* здесь используйте глобальные переменные */
$white: #fff;
$primary: #6eb744;
$primary-dark: #62a53c;
$bg-light-grey: #f4f4f4;
$text-primary: #37454a;
$text-primary-opacity02: rgb(55, 69, 74, 0.2);
$light-gray: #dfdfdf;
$grey: #edeef0;

$w1: 1200px;
$w2: 992px;
$w3: 768px;
$w4: 576px;
$w5: 320px;
