.header-appointment {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid $primary;
  border-radius: 26px;
  padding: 1.2rem 3rem;
  color: $text-primary;
  cursor: pointer;
  &:hover .header-appointment__example {
    color: white;
  }
  &__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 14px;
  }

  &__example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    white-space: nowrap;

    :nth-child(1) {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 16px;
    }
    :nth-child(2) {
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 14px;
    }
  }
}
