.header-icons {
  display: flex;
  gap: 30px;
  &__item {
    position: relative;
    cursor: pointer;
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    position: absolute;
    background: $primary;
    border-radius: 50%;
    top: -15px;
    left: 20px;
  }
}
